name: Build and Upload

on:
  push: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build
        # -o sets the output name, easier for the uploader to find
        run: go build -v -o smtp-to-telegram .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-binary
          path: smtp-to-telegram
          # retention-days: 5 # Optional: clean up artifacts automatically
  